@font-face {
    font-family: Crayon;
    src:url("./assets/font/crayonfont/crayon_1-1.ttf");
}

@font-face {
    font-family: Glitter;
    src:url("./assets/font/glitter/I Love Glitter - TTF.ttf");
}

body {
    background-color: #ff9c9c;
}

.japanese {
    font-family: Crayon !important;
    color: #a55fc1;
}

img {
    width: 10%;
    max-width: 10%;
    min-width: 50px;
}

h1 {
    font-size: 3em;
}

p, h2, h3, div {
    font-size: 1.1em;
}

h1, h2, h3, div, p {
    font-family: Glitter;
}

button, .button input {
    margin-top: 1em;
    background-color: #ff9c9c;
    padding: .5em 2em .5em 2em;
    font-size: 1.5em;
    font-weight: 900;
    color: #a55fc1;
    border-radius: 15%;
}

button:hover, .button input:hover {
    background-color: #a55fc1;
    color: #ff9c9c;
}

div.button button p {
    margin: .5em 2em .5em 2em;
    font-size: 1.5em;
    font-weight: 900;
    color: #a55fc1;
}

.br-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mostHearts { grid-area: 1 / 1 / 2 / 2; }
.mostImplants { grid-area: 1 / 2 / 2 / 3; }
.bestPickupLines { grid-area: 1 / 3 / 2 / 4; }

